services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: student-management-api
    ports:
      - '8080:8080'
    env_file:
      - .env
    restart: unless-stopped
